html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(252, 246, 237);
}

.container{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    align-items: center;
    background-color: rgb(59, 45, 58);
    padding: 0 25px;
}

.parent{
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    letter-spacing: 2px;
}

.child ul{
    list-style: none;
    display: flex;
    color: white;
    gap: 80px;
    letter-spacing: 2px;
}

.child li{
    cursor: pointer;
}

.child li:hover{
    color: orangered;
    transition-duration: 0.9s;
}

.baby input{
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.baby button{
    font-size: 20px;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
}

.bg-img{
    font-size: 50px;
    width: 100%;
    height: 100vh;
    background-image: url(https://lunares.eu/p/13703/vigo-wiszaca-czarna-1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.section{
    padding: 50px;
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
}

.box{
    width: 600px;
    height: 500px;
}

.collection{
    position: relative;
    z-index: -1;
    display: flex;
    row-gap: 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.child1{
    position: absolute;
    top: 30%;
    left: 5%;
}

.child2{
    position: absolute;
    top: 30%;
    left: 38%;
}

.child3{
    position: absolute;
    top: 30%;
    right: 18%;
}

.child4{
    position: absolute;
    top: 80%;
    left: 16%;
}

.child5{
    position: absolute;
    top: 80%;
    right: 29%;
}

.child1 h2, .child2 h2, .child3 h2, .child4 h2, .child5 h2{
    color: white;
    padding-bottom: 15px;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: lighter;
}

.btn{
    padding: 18px 25px;
    outline: none;
    border: none;
    background-color: rgb(64, 148, 120);
    border-radius: 10px;
    letter-spacing: 2px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover{
    filter: brightness(0.8);
}

.section1 p, .sofa-sec p, .light-sec p, .furn-sec p, .cur-sec p{
    /* padding: 50px; */
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
}

.section1 h5, .sofa-sec h5, .light-sec h5, .furn-sec h5, .cur-sec h5{
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
    letter-spacing: 1.5px;
    font-weight: lighter;
}

.section2, .section3, .section4, .section5, .section6{
    margin: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.arrival{
    position: relative;
    z-index: -1;
}

.arrival button{
    position: absolute;
    top: 70%;
    right: 15%;
    border: none;
    border-radius: 10px;
    background-color: rgb(59, 45, 58);
    color: white;
    padding: 10px 25px;
    letter-spacing: 1px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

.arrival button:hover{
    color: orangered;
    transition-duration: 0.9s;
}

.arrival img{
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

.footer{
    width: 100%;
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.abt-foot{
    width: 400px;
    height: 200px;
    margin-top: 80px;
    letter-spacing: 1px;
    color: gray;
}

.abt-foot p, .pg-foot li, .info-foot li{
    margin-top: 20px;
    font-size: 18px;
    line-height: 35px;
    cursor: pointer;
    list-style: none;
}

.pg-foot{
    margin-top: 80px;
    color: gray;
}

.info-foot{
    margin-top: 80px;
    color: gray;
}

.pg-foot li:hover, .info-foot li:hover{
    color: black;
    transition-duration: 0.9s;
}

.icon-foot{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}

.icon-foot i{
    cursor: pointer;
    font-size: 20px;
}

.firstone{
    text-decoration: none;
    color: white;
}

/* .increase{
    text-align: center;
}

.loading{
    padding: 15px 30px;
    border: none;
    color: white;
    border-radius: 10px;
    background-color: rgb(59, 45, 58);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.loading:hover{
    filter: brightness(0.9);
}

.loading:active{
    transform: scale(0.9);
} */